In [72]:
import pandas as pd
import numpy as np

In [73]:
df = pd.read_csv("C:\\Users\\ashok.swarna\\Desktop\\titanic_train.csv")

In [74]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [75]:
df.drop(['PassengerId','Name', 'Ticket','Cabin'], inplace = True, axis =1)

In [76]:
df['Parch'].describe()

count    891.000000
mean       0.381594
std        0.806057
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        6.000000
Name: Parch, dtype: float64

In [77]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [78]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [79]:
##for my reference in future 
#dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, numpy.NaN)

In [80]:
df.fillna(df.mean(), inplace = True)

In [81]:
y = df['Survived']
df.drop(['Survived'], inplace = True, axis = 1)

In [82]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [83]:
df = pd.get_dummies(df, drop_first = True)

In [95]:
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion="gini",random_state=1,max_depth=5)
model = model.fit(df,y)

In [93]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [96]:
#to view the treee
dot_data = StringIO()
export_graphviz(model, out_file=dot_data, feature_names=df.columns, 
                filled=True, rounded=True,
                special_characters=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue()) 
Image(graph.create_png())
graph.write_png('Toy_tree_depth1.png')

True